@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Protest+Guerrilla&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root {
    --barn-red1: rgb(54, 147, 15);
    --fire-brick2: rgb(153, 158, 148);
    --papaya-whip3: #fdf0d5ff;
    --prussian-blue4: #003049ff;
    --air-superiority-blue5: #669bbcff;
    --fonte-titulo: "Josefin Sans, sans-serif";
    --fonte-texto: "Protest Guerrilla", sans-serif;
}

body{
    background-color: var(--barn-red1);
    font-family: var(--papaya-whip3);
    color: var(--black);
    height: 100vh;
}

header{
    background-color: var(--fire-brick2);
    text-align: center;
}

h1{
    font-family: var(--fonte-titulo);
    font-size: 3rem;
    color: var(--air-superiority-blue5);
    padding: 1.5rem 0;
}
